.navbar{
    display: flex;
    justify-content: space-between;
    align-content: center;
    background: teal;
    
}
.logo{
    max-height: 2rem;
    padding: 16px 20px 0 20px;
    cursor: auto;
}
.navbar ul{
    list-style: none;
}
.navbar ul li{
    display: inline-block;
    line-height: 2;
    width: 120px; 
    background: navy;
    text-align: center;
    border-radius: 12%;
}

.navbar ul li:hover,  .navbar ul a:hover{
    color: lime;
    background: blue;
}
.navbar button{
    max-height: 32px;
    width: 120px;
    cursor: pointer;
    border-style: none;
    margin: 16px 20px 0 20px;
    border-radius: 12%;
    background: rgba(0,0,255,1);
    line-height: 1.5;
    font-size: 16px;
    color: cyan;
}
.navbar button:hover{
    background: rgba(0,0,255,0.5);
    color: lime;
}
.navbar ul a{
    text-decoration: none;
    font-size: 16px;
    color: cyan;
    
}