.grid-container{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-gap: 1rem;
}

.grid-container .card{
    height: 96px;
    background: #801188;
    box-shadow: 0.5rem 0.75rem 1rem #4e2f81;
}
.grid-container .title, .grid-container .footer{
    grid-column: 1/-1;
    background: #117088;
}
.grid-container .left-marge{
    grid-column: 1/3;
}
.grid-container .right-marge{
    grid-column: 2/4;
}